<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud Operations</title>
</head>
<body>
    <div class="container" style="border-block: solid black">
        <div class="row">
            <div class="col col-4 col-sm-4"></div>
            <div class="col col-4 col-sm-4">
                <form action="/product/add" method="POST">
                    <table border="1">
                        <tr><td>
                            <input type="submit" value="Add" formaction="/product/add">
                        </td></tr>
                        <tr><td>
                            <input type="submit" value="View" formaction="/product/View">
                        </td></tr>
                        <tr><td>
                            <input type="submit" value="Update" formaction="/product/update">
                        </td></tr>
                        <tr><td>
                            <input type="submit" value="Delete" formaction="/product/delete">
                        </td></tr>
                    </table>
                    <div class="col col-4 col-sm-4"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>